# Database
DATABASE_URL=postgresql://postgres.vurfpqcilgrvtmumcupv:Sanskarmohankalal120502@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://postgres.vurfpqcilgrvtmumcupv:Sanskarmohankalal120502@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
# JWT Secret (generate a strong secret)
JWT_SECRET=sanskar@12

# Server Port
PORT=3000

# Node Environment
NODE_ENV=production